KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change-me

BASE_PATH=localhost

KC_PASSKEY_CLIENT_ID=demo-app
KC_ALLOWED_BROWSER_ORIGIN=https?://(localhost|127\\.0\\.0\\.1|\\[::1\\])(:\\d+)?
KC_WEBAUTHN_RP_ID=localhost
KC_DEMO_ADDITIONAL_REDIRECT_URI=https://example.com/kc-client/*
KC_DEMO_ADDITIONAL_WEB_ORIGIN=http://localhost:3000

KC_BROKER_CLIENT_ID=replace-me
KC_BROKER_CLIENT_SECRET=replace-me

PUBLIC_KEYCLOAK_URL=http://localhost:8080
PUBLIC_KEYCLOAK_ADMIN_URL=http://localhost:8080/admin/master/console/
PUBLIC_PASSKEY_DEFAULT_NAME="Demo App"
